# Practical No. 3
Aim1: Do As Directed

# 1. Do as directed for Dictionary

In [2]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

In [10]:
###Get details of the oldest Employee

old=0
j=0
for i in Employee_data:
    if Employee_data[i][1] > old:
        old=Employee_data[i][1]
        j=i
    
oldest_emp=Employee_data[j]
print(oldest_emp)

['Huzefa', 32, 'Project Manager']

#### Identify the age of the employee with employee id 159 [ If the employee isn't present return NA]

- 25
- 32
- NA
- 42

In [13]:
# Type your code here

if 159 in Employee_data:
    print(Employee_data[159])
else:
    print("NA")

NA

#### Count the total number of employee in the organization

In [14]:
# Type your code here
count=0
for i in Employee_data:
    count+=1

print("Total number of employee in the organization are: ",count)

Total number of employee in the organization are:  5

#### Calculate the mean age of the employees

- 31.36
- 36.48
- 27.66
- 32.47

In [15]:
# Type your code here
age=0
for i in Employee_data:
    age+=Employee_data[i][1]
    
mean=age/count
print("Mean age of the employees: ",mean)

Mean age of the employees:  27.6

#### Perform the following two tasks and then calculate the updated mean age of the employees
Task1 Update the ages of employee id - 104,140, and 164 as 27 <br>

In [17]:
# Type your code here
for i in Employee_data:
    if i==104 or i==140 or i==164:
        Employee_data[i][1]=27

age=0
for i in Employee_data:
    age+=Employee_data[i][1]
    
new_mean=age/count
print("Updated mean age of the employees: ",new_mean)

Updated mean age of the employees:  27.2

# 2. Let’s say you have a huge list that contains student grades: 
Grades = ['A', 'A', 'B', 'C', 'D', 'B', 'B', 'C', 'D', 'E', 'C', 'C', 'A', 'B', 'F', 'D', 'C',  'B', 'C', 'A', 'B', 'F', 'B', 'A', 'E', 'B', 'B', 'C', 'D']
You want to identify distinct grades allotted to students.

In [41]:
## type your code here
Grades = ['A', 'A', 'B', 'C', 'D', 'B', 'B', 'C', 'D', 'E', 'C', 'C', 'A', 'B', 'F', 'D', 'C', 'B', 'C', 'A', 'B', 'F', 'B', 'A', 'E', 'B', 'B', 'C', 'D']
count=0
l=[]
# d={'A':0,'B':0,'C':0,'D':0,'E':0,'F':0}
for i in Grades:
    if i not in l:
        count+=1
        l.append(i)
        
print("Number of distinct grades: ",count)
# i=1
# for el in Grades:
#     print("Student",i,"-",el)
#     i+=1
    
# d={}
# for key in d:
#     d[key]=i
#     i+=1
    
# print(d)

Number of distinct grades:  6

# 3. Let’s say you have two lists A and B. Identify the elements which are common in the two lists A and B and return them in a sorted manner. For example 
 Sample Input :
A = [5,1,3,4,4,5,6,7]
B = [3,3,5,5, 1 ,7 ,2]
 Sample Output:
[1,3,5,7]

In [34]:
## type your code here
A = [5,1,3,4,4,5,6,7]
B = [3,3,5,5, 1 ,7 ,2]
l=[]
for i in A:
    if i in B and i not in l:
        l.append(i)
 
l.sort()
print(l)

[1, 3, 5, 7]

# 4. Create a SORTED list of all values from the dictionary input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple', 'Jeff Bezos' : 'Amazon' , 'Mukesh Ambani' : 'RJIO'}
 Sample Output:
['Amazon', 'Apple', 'RJIO', 'Twitter']

In [38]:
## type your code here
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple', 'Jeff Bezos' : 'Amazon' , 'Mukesh Ambani' : 'RJIO'}
l=[]
for i in input_dict:
   l.append(input_dict[i]) 
l.sort()
print(l)

['Amazon', 'Apple', 'RJIO', 'Twitter']

# 5. Write code to fetch the profession of the employee with Employee id entered by the user from an employee input given in the form of a dictionary where key represent employ id and values represent the name, age, and profession (in the same order).
 Given Dictionary:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}
 Sample output:
'Product Lead'

In [6]:
## type your code here
n=int(input("Enter employee_id: "))

if n in Employee_data:
    print("Profession of",n,Employee_data[n][2])
else:
    print("Enter valid employee id!!!")

Enter employee_id: 103
Profession of 103 Sr Manager

# 6. If Z = {1, 3, 5, 7, 9, 11, 13}, then which of the following are subsets of U.
B = {2, 4}
A = {0}
C = {1, 9, 5, 13}
D = {5, 11, 1}
E = {13, 7, 9, 11, 5, 3, 1}
F = {2, 3, 4, 5}
HINT: C, D and E are the subsets of ∪.

In [45]:
## type your code here
Z = {1, 3, 5, 7, 9, 11, 13}
B = {2, 4}
A = {0}
C = {1, 9, 5, 13}
D = {5, 11, 1}
E = {13, 7, 9, 11, 5, 3, 1}
F = {2, 3, 4, 5}
U = {1, 9, 5, 13, 5, 11, 1, 13, 7, 9, 11, 5, 3, 1}

if A.issubset(U):
    print("A is a subset of U")
if B.issubset(U):
    print("B is a subset of U")
if F.issubset(U):
    print("F is a subset of U")
print("C,D and E are subset of U")

C,D and E are subset of U

# 7. Let A and B be two finite sets such that n(A) = 20, n(B) = 28 and n(A ∪ B) = 36, find n(A ∩ B).
HINT: Use the formula n(A ∪ B) = n(A) + n(B) - n(A ∩ B).
then n(A∩B) = n(A) + n(B) - n(A ∪B)
= 20 + 28 - 36
= 48 - 36
= 12

In [46]:
## type your code here
nA=20
nB=28
nAuB=36
nAiB=nA+nB-nAuB

print("n(A intersection B) is: ",nAiB)

n(A intersection B) is:  12

# 8.  In a group of 60 people, 27 like cold drinks and 42 like hot drinks and each person likes at least one of the two drinks. How many like both coffee and tea?
Solution: Let A = Set of people who like cold drinks B = Set of people who like hot drinks Given,
(A ∪B) = 60     n(A) = 27     n(B) = 42 then;
n(A ∩ B) = n(A) + n(B) - n(A ∪ B)
= 27 + 42 - 60
= 69 - 60 = 9
= 9
Therefore, 9 people like both tea and coffee.

In [47]:
## type your code here
n=60
cd=27
hd=42
common=(cd+hd)-n
print("Number of people who like both coffee and tea: ",common)

Number of people who like both coffee and tea:  9

# 9. In a competition, a school awarded medals in different categories. 36 medals in dance, 12 medals in dramatics and 18 medals in music. If these medals went to a total of 45 persons and only 4 persons got medals in all the three categories, how many received medals in exactly two of these categories?
Solution: Let A = set of persons who got medals in dance.
B = set of persons who got medals in dramatics.
C = set of persons who got medals in music.
Given,
n(A) = 36
n(B) = 12
n(C) = 18
n(A ∪ B ∪C) = 45
n(A ∩ B ∩ C) = 4
We know that number of elements belonging to exactly two of the three sets A, B, C
= n(A ∩ B) + n(B ∩ C) + n(A ∩ C) - 3n(A ∩ B ∩ C)
= n(A ∩ B) + n(B ∩ C) + n(A ∩ C) - 3 × 4 ……..(i)
n(A ∪ B ∪ C) = n(A) + n(B) + n(C) - n(A ∩ B) - n(B ∩ C) - n(A ∩ C) + n(A ∩ B ∩C)
Therefore, n(A ∩ B) + n(B ∩ C) + n(A ∩ C) = n(A) + n(B) + n(C) + n(A ∩ B ∩ C) - n(A ∪ B ∪ C)
From (i) required number
= n(A) + n(B) + n(C) + n(A ∩ B ∩ C) - n(A ∪ B ∪ C) - 12
= 36 + 12 + 18 + 4 - 45 - 12
= 70 - 67
= 3

In [48]:
## type your code here
n=45
dance=36
dramatics=12
music=18
common=4
ans=0

ans=dance+dramatics+music+common-n
print("Number of students who received medals in exactly two categories: ",ans)

Number of students who received medals in exactly two categories:  25

# 10. In a group of 100 persons, 72 people can speak English and 43 can speak French. How many can speak English only? How many can speak French only and how many can speak both English and French?
Solution: Let A be the set of people who speak English.
B be the set of people who speak French.
A - B be the set of people who speak English and not French.
B - A be the set of people who speak French and not English.
A ∩ B be the set of people who speak both French and English.
Given,
n(A) = 72
n(B) = 43
n(A ∪ B) = 100
Now, n(A ∩ B) = n(A) + n(B) - n(A ∪ B)
= 72 + 43 - 100
= 115 - 100
= 15
Therefore, Number of persons who speak both French and English = 15

n(A) = n(A - B) + n(A ∩ B) ⇒
n(A - B) = n(A) - n(A ∩ B)
= 72 - 15
= 57
and n(B - A) = n(B) - n(A ∩ B)
= 43 - 15
= 28
Therefore, Number of people speaking English only = 57
Number of people speaking French only = 28

In [49]:
## type your code here
n=100
eng=72
french=43
common=(eng+french)-n
peng=eng-common
pfrench=french-common

print("Number of people who can speak ENGLISH only: ",peng)
print("Number of people who can speak FRENCH only: ",pfrench)
print("Number of people who can speak BOTH: ",common)

Number of people who can speak ENGLISH only:  57
Number of people who can speak FRENCH only:  28
Number of people who can speak BOTH:  15