In [1]:
set1={1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [3]:
set2={5.0,"hello",(1,2,7)}
set2={5.0,"hello",(1,5,7)}
print(set2)

{'hello', (1, 5, 7), 5.0}

In [6]:
set3=(5.0,"hello",(1,2,7),[1,2,3])
print(set3)
type(set2)
type(set3)

(5.0, 'hello', (1, 2, 7), [1, 2, 3])

tuple

In [7]:
#Duplicate enteries
#sets can't  contain duplicates 

set5={2,5,6,7,2,6,8,9,10}

print(set5)

{2, 5, 6, 7, 8, 9, 10}

In [8]:
#list as sets
set6=set([3,5,7,9,7,8,1,3])
print(set6)

{1, 3, 5, 7, 8, 9}

In [9]:
str1="chilleni"
print(set(str1))

{'h', 'n', 'e', 'c', 'i', 'l'}

In [3]:
#add list and set
myset = {1,2,3}
myset.update([1,6],{1,2,3})
print(myset)

{1, 2, 3, 6}

In [8]:
myset.clear()
print(myset)

set()

In [12]:
a={22,33,44,65,66,88}
b={11,33,44,55,66,77,99}

print(a.intersection(b))
print(b.intersection(a))

print(a-b)
print(b-a)

{33, 66, 44}
{33, 66, 44}
{88, 65, 22}
{11, 99, 77, 55}